.ic-flag {
    background: url(http://cdn.stardoll.com/i/makeover/common/icons/flags-mini-sprite.png?7323) no-repeat 0 -2718px;
    height: 11px;
    line-height: 11px;
    width: 20px;
}

.ic-flag.ua,
.ic-flag.ua,
.ic-flag.ua {
    background: url(http://cdn.stardoll.com/i/makeover/common/icons/flags-mini-sprite.png?7323) no-repeat 0 -2487px;
    height: 11px;
    line-height: 11px;
    width: 16px;
    padding: 0 2px;
    display: inline-block
}

.ic-flag.ad {
    background-position: 0 0
}

.ic-flag.ae {
    background-position: 0 -11px
}

.ic-flag.af {
    background-position: 0 -22px
}

.ic-flag.ag {
    background-position: 0 -33px
}

.ic-flag.ai {
    background-position: 0 -44px
}

.ic-flag.al {
    background-position: 0 -55px
}

.ic-flag.am {
    background-position: 0 -66px
}

.ic-flag.an {
    background-position: 0 -77px
}

.ic-flag.ao {
    background-position: 0 -88px
}

.ic-flag.ar {
    background-position: 0 -99px
}

.ic-flag.as {
    background-position: 0 -110px
}

.ic-flag.at {
    background-position: 0 -121px
}

.ic-flag.au {
    background-position: 0 -132px
}

.ic-flag.aw {
    background-position: 0 -143px
}

.ic-flag.ax {
    background-position: 0 -154px
}

.ic-flag.az {
    background-position: 0 -165px
}

.ic-flag.ba {
    background-position: 0 -176px
}

.ic-flag.bb {
    background-position: 0 -187px
}

.ic-flag.bd {
    background-position: 0 -198px
}

.ic-flag.be {
    background-position: 0 -209px
}

.ic-flag.bf {
    background-position: 0 -220px
}

.ic-flag.bg {
    background-position: 0 -231px
}

.ic-flag.bh {
    background-position: 0 -242px
}

.ic-flag.bi {
    background-position: 0 -253px
}

.ic-flag.bj {
    background-position: 0 -264px
}

.ic-flag.bm {
    background-position: 0 -275px
}

.ic-flag.bn {
    background-position: 0 -286px
}

.ic-flag.bo {
    background-position: 0 -297px
}

.ic-flag.br {
    background: transparent url(http://cdn.stardoll.com/i/makeover/common/icons/flags-mini-sprite.png?7323) no-repeat;
    background-position: 0 -308px;
    height: 11px;
    position: static
}

.ic-flag.bs {
    background-position: 0 -319px
}

.ic-flag.bt {
    background-position: 0 -330px
}

.ic-flag.bv {
    background-position: 0 -341px
}

.ic-flag.bw {
    background-position: 0 -352px
}

.ic-flag.by {
    background-position: 0 -363px
}

.ic-flag.bz {
    background-position: 0 -374px
}

.ic-flag.ca {
    background-position: 0 -385px
}

.ic-flag.catalonia {
    background-position: 0 -396px
}

.ic-flag.cc {
    background-position: 0 -407px
}

.ic-flag.cd {
    background-position: 0 -418px
}

.ic-flag.cf {
    background-position: 0 -429px
}

.ic-flag.cg {
    background-position: 0 -440px
}

.ic-flag.ch {
    background-position: 0 -451px
}

.ic-flag.ci {
    background-position: 0 -462px
}

.ic-flag.ck {
    background-position: 0 -473px
}

.ic-flag.cl {
    background-position: 0 -484px
}

.ic-flag.cm {
    background-position: 0 -495px
}

.ic-flag.cn {
    background-position: 0 -506px
}

.ic-flag.co {
    background-position: 0 -517px
}

.ic-flag.cr {
    background-position: 0 -528px
}

.ic-flag.cs {
    background-position: 0 -539px
}

.ic-flag.cu {
    background-position: 0 -550px
}

.ic-flag.cv {
    background-position: 0 -561px
}

.ic-flag.cx {
    background-position: 0 -572px
}

.ic-flag.cy {
    background-position: 0 -583px
}

.ic-flag.cz {
    background-position: 0 -594px
}

.ic-flag.de {
    background-position: 0 -605px
}

.ic-flag.dj {
    background-position: 0 -616px
}

.ic-flag.dk {
    background-position: 0 -627px
}

.ic-flag.dm {
    background-position: 0 -638px
}

.ic-flag.do {
    background-position: 0 -649px
}

.ic-flag.dz {
    background-position: 0 -660px
}

.ic-flag.ec {
    background-position: 0 -671px
}

.ic-flag.ee {
    background-position: 0 -682px
}

.ic-flag.eg {
    background-position: 0 -693px
}

.ic-flag.eh {
    background-position: 0 -704px
}

.ic-flag.england {
    background-position: 0 -715px
}

.ic-flag.er {
    background-position: 0 -726px
}

.ic-flag.es {
    background-position: 0 -737px
}

.ic-flag.et {
    background-position: 0 -748px
}

.ic-flag.europeanunion {
    background-position: 0 -759px
}

.ic-flag.fam {
    background-position: 0 -770px
}

.ic-flag.fi {
    background-position: 0 -781px
}

.ic-flag.fj {
    background-position: 0 -792px
}

.ic-flag.fk {
    background-position: 0 -803px
}

.ic-flag.fm {
    background-position: 0 -814px
}

.ic-flag.fo {
    background-position: 0 -825px
}

.ic-flag.fr {
    background-position: 0 -836px
}

.ic-flag.ga {
    background-position: 0 -847px
}

.ic-flag.gb {
    background-position: 0 -858px
}

.ic-flag.gd {
    background-position: 0 -869px
}

.ic-flag.ge {
    background-position: 0 -880px
}

.ic-flag.gf {
    background-position: 0 -891px
}

.ic-flag.gh {
    background-position: 0 -902px
}

.ic-flag.gi {
    background-position: 0 -913px
}

.ic-flag.gl {
    background-position: 0 -924px
}

.ic-flag.gm {
    background-position: 0 -935px
}

.ic-flag.gn {
    background-position: 0 -946px
}

.ic-flag.gp {
    background-position: 0 -957px
}

.ic-flag.gq {
    background-position: 0 -968px
}

.ic-flag.gr {
    background-position: 0 -979px
}

.ic-flag.gs {
    background-position: 0 -990px
}

.ic-flag.gt {
    background-position: 0 -1001px
}

.ic-flag.gu {
    background-position: 0 -1012px
}

.ic-flag.gw {
    background-position: 0 -1023px
}

.ic-flag.gy {
    background-position: 0 -1034px
}

.ic-flag.hk {
    background-position: 0 -1045px
}

.ic-flag.hm {
    background-position: 0 -1056px
}

.ic-flag.hn {
    background-position: 0 -1067px
}

.ic-flag.hr {
    background-position: 0 -1078px
}

.ic-flag.ht {
    background-position: 0 -1089px
}

.ic-flag.hu {
    background-position: 0 -1100px
}

.ic-flag.id {
    background-position: 0 -1111px
}

.ic-flag.ie {
    background-position: 0 -1122px
}

.ic-flag.il {
    background-position: 0 -1133px
}

.ic-flag.in {
    background-position: 0 -1144px
}

.ic-flag.io {
    background-position: 0 -1155px
}

.ic-flag.iq {
    background-position: 0 -1166px
}

.ic-flag.ir {
    background-position: 0 -1177px
}

.ic-flag.is {
    background-position: 0 -1188px
}

.ic-flag.it {
    background-position: 0 -1199px
}

.ic-flag.jm {
    background-position: 0 -1210px
}

.ic-flag.jo {
    background-position: 0 -1221px
}

.ic-flag.jp {
    background-position: 0 -1232px
}

.ic-flag.ke {
    background-position: 0 -1243px
}

.ic-flag.kg {
    background-position: 0 -1254px
}

.ic-flag.kh {
    background-position: 0 -1265px
}

.ic-flag.ki {
    background-position: 0 -1276px
}

.ic-flag.km {
    background-position: 0 -1287px
}

.ic-flag.kn {
    background-position: 0 -1298px
}

.ic-flag.kp {
    background-position: 0 -1309px
}

.ic-flag.kr {
    background-position: 0 -1320px
}

.ic-flag.kw {
    background-position: 0 -1331px
}

.ic-flag.ky {
    background-position: 0 -1342px
}

.ic-flag.kz {
    background-position: 0 -1353px
}

.ic-flag.la {
    background-position: 0 -1364px
}

.ic-flag.lb {
    background-position: 0 -1375px
}

.ic-flag.lc {
    background-position: 0 -1386px
}

.ic-flag.li {
    background-position: 0 -1397px
}

.ic-flag.lk {
    background-position: 0 -1408px
}

.ic-flag.lr {
    background-position: 0 -1419px
}

.ic-flag.ls {
    background-position: 0 -1430px
}

.ic-flag.lt {
    background-position: 0 -1441px
}

.ic-flag.lu {
    background-position: 0 -1452px
}

.ic-flag.lv {
    background-position: 0 -1463px
}

.ic-flag.ly {
    background-position: 0 -1474px
}

.ic-flag.ma {
    background-position: 0 -1485px
}

.ic-flag.mc {
    background-position: 0 -1496px
}

.ic-flag.md {
    background-position: 0 -1507px
}

.ic-flag.me {
    background-position: 0 -1518px
}

.ic-flag.mg {
    background-position: 0 -1530px
}

.ic-flag.mh {
    background-position: 0 -1541px
}

.ic-flag.mk {
    background-position: 0 -1552px
}

.ic-flag.ml {
    background-position: 0 -1563px
}

.ic-flag.mm {
    background-position: 0 -1574px
}

.ic-flag.mn {
    background-position: 0 -1585px
}

.ic-flag.mo {
    background-position: 0 -1596px
}

.ic-flag.mp {
    background-position: 0 -1607px
}

.ic-flag.mq {
    background-position: 0 -1618px
}

.ic-flag.mr {
    background-position: 0 -1629px
}

.ic-flag.ms {
    background-position: 0 -1640px
}

.ic-flag.mt {
    background-position: 0 -1651px
}

.ic-flag.mu {
    background-position: 0 -1662px
}

.ic-flag.mv {
    background-position: 0 -1673px
}

.ic-flag.mw {
    background-position: 0 -1684px
}

.ic-flag.mx {
    background-position: 0 -1695px
}

.ic-flag.my {
    background-position: 0 -1706px
}

.ic-flag.mz {
    background-position: 0 -1717px
}

.ic-flag.na {
    background-position: 0 -1728px
}

.ic-flag.nc {
    background-position: 0 -1739px
}

.ic-flag.ne {
    background-position: 0 -1750px
}

.ic-flag.nf {
    background-position: 0 -1761px
}

.ic-flag.ng {
    background-position: 0 -1772px
}

.ic-flag.ni {
    background-position: 0 -1783px
}

.ic-flag.nl {
    background-position: 0 -1794px
}

.ic-flag.no {
    background-position: 0 -1805px
}

.ic-flag.np {
    background-position: 0 -1816px
}

.ic-flag.nr {
    background-position: 0 -1827px
}

.ic-flag.nu {
    background-position: 0 -1838px
}

.ic-flag.nz {
    background-position: 0 -1849px
}

.ic-flag.om {
    background-position: 0 -1860px
}

.ic-flag.pa {
    background-position: 0 -1871px
}

.ic-flag.pe {
    background-position: 0 -1882px
}

.ic-flag.pf {
    background-position: 0 -1893px
}

.ic-flag.pg {
    background-position: 0 -1904px
}

.ic-flag.ph {
    background-position: 0 -1915px
}

.ic-flag.pk {
    background-position: 0 -1926px
}

.ic-flag.pl {
    background-position: 0 -1937px
}

.ic-flag.pm {
    background-position: 0 -1948px
}

.ic-flag.pn {
    background-position: 0 -1959px
}

.ic-flag.pr {
    background-position: 0 -1970px
}

.ic-flag.ps {
    background-position: 0 -1981px
}

.ic-flag.pt {
    background-position: 0 -1992px
}

.ic-flag.pw {
    background-position: 0 -2003px
}

.ic-flag.py {
    background-position: 0 -2014px
}

.ic-flag.qa {
    background-position: 0 -2025px
}

.ic-flag.re {
    background-position: 0 -2036px
}

.ic-flag.ro {
    background-position: 0 -2047px
}

.ic-flag.rs {
    background-position: 0 -2058px
}

.ic-flag.ru {
    background-position: 0 -2069px
}

.ic-flag.rw {
    background-position: 0 -2080px
}

.ic-flag.sa {
    background-position: 0 -2091px
}

.ic-flag.sb {
    background-position: 0 -2102px
}

.ic-flag.sc {
    background-position: 0 -2113px
}

.ic-flag.scotland {
    background-position: 0 -2124px
}

.ic-flag.sd {
    background-position: 0 -2135px
}

.ic-flag.se {
    background-position: 0 -2146px
}

.ic-flag.sg {
    background-position: 0 -2157px
}

.ic-flag.sh {
    background-position: 0 -2168px
}

.ic-flag.si {
    background-position: 0 -2179px
}

.ic-flag.sj {
    background-position: 0 -2190px
}

.ic-flag.sk {
    background-position: 0 -2201px
}

.ic-flag.sl {
    background-position: 0 -2212px
}

.ic-flag.sm {
    background-position: 0 -2223px
}

.ic-flag.sn {
    background-position: 0 -2234px
}

.ic-flag.so {
    background-position: 0 -2245px
}

.ic-flag.sr {
    background-position: 0 -2256px
}

.ic-flag.st {
    background-position: 0 -2267px
}

.ic-flag.sv {
    background-position: 0 -2278px
}

.ic-flag.sy {
    background-position: 0 -2289px
}

.ic-flag.sz {
    background-position: 0 -2300px
}

.ic-flag.tc {
    background-position: 0 -2311px
}

.ic-flag.td {
    background-position: 0 -2322px
}

.ic-flag.tf {
    background-position: 0 -2333px
}

.ic-flag.tg {
    background-position: 0 -2344px
}

.ic-flag.th {
    background-position: 0 -2355px
}

.ic-flag.tj {
    background-position: 0 -2366px
}

.ic-flag.tk {
    background-position: 0 -2377px
}

.ic-flag.tl {
    background-position: 0 -2388px
}

.ic-flag.tm {
    background-position: 0 -2399px
}

.ic-flag.tn {
    background-position: 0 -2410px
}

.ic-flag.to {
    background-position: 0 -2421px
}

.ic-flag.tr {
    background-position: 0 -2432px
}

.ic-flag.tt {
    background-position: 0 -2443px
}

.ic-flag.tv {
    background-position: 0 -2454px
}

.ic-flag.tw {
    background-position: 0 -2465px
}

.ic-flag.tz {
    background-position: 0 -2476px
}

.ic-flag.ua {
    background-position: 0 -2487px
}

.ic-flag.ug {
    background-position: 0 -2498px
}

.ic-flag.um {
    background-position: 0 -2509px
}

.ic-flag.us {
    background-position: 0 -2520px
}

.ic-flag.uy {
    background-position: 0 -2531px
}

.ic-flag.uz {
    background-position: 0 -2542px
}

.ic-flag.va {
    background-position: 0 -2553px
}

.ic-flag.vc {
    background-position: 0 -2564px
}

.ic-flag.ve {
    background-position: 0 -2575px
}

.ic-flag.vg {
    background-position: 0 -2586px
}

.ic-flag.vi {
    background-position: 0 -2597px
}

.ic-flag.vn {
    background-position: 0 -2608px
}

.ic-flag.vu {
    background-position: 0 -2619px
}

.ic-flag.wales {
    background-position: 0 -2630px
}

.ic-flag.wf {
    background-position: 0 -2641px
}

.ic-flag.ws {
    background-position: 0 -2652px
}

.ic-flag.ye {
    background-position: 0 -2663px
}

.ic-flag.yt {
    background-position: 0 -2674px
}

.ic-flag.za {
    background-position: 0 -2685px
}

.ic-flag.zm {
    background-position: 0 -2696px
}

.ic-flag.zw {
    background-position: 0 -2707px
}